/*---------------Text---------------*/

h1 {
    font-family: 'Orbitron', sans-serif;
}

h2, h3, p, li {
    font-family: 'Source Code Pro', monospace;
}

.jumbotron {
    margin-top: 2rem;
}

.navbar li {
    font-family:'Orbitron', monospace;
}

.apod {
    justify-content: center;
}

#mapid { 
    height: 400px; 
}