/*-------Background-------*/
body {
  background-image: url("../images/background/image-parallax-2.jpg"); /*--Photo by Ivana Cajina on Unsplash--*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*---------------Text---------------*/

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

h3, h4, h5, p, li {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

/*-------Styling------*/
.jumbotron {
    padding-top: 5rem;
    margin-top: 2rem;
}

.jumbotron h1 {
    color: black;
}

.navbar li {
    font-family:'Orbitron', monospace;
}

.apod {
    justify-content: center;
}

#map { 
    height: 400px; 
}

.center-form {
    padding-top: 10px;
    margin: 3px auto;
    width: 60%;
    max-width: 80%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}


/*-----ISS-------*/
.iss-icon span{
  display: inline-block;
  border: 1px solid yellow;
  border-radius: 50%;

/*animation: blink .7s alternate infinite;*/
  height: 24px; 
  width: 24px;
  animation: pulse .7s infinite alternate;
  transform-origin: center center;
}

@keyframes pulse{
  0%{
    transform: scale(1.5);
    opacity: .2;
  }
  50%{
    opacity: .8;
  }
  100%{
    transform: scale(.1);
    opacity: 1;
  }
}

