/*-------Background-------*/
body {
  background-image: url("../images/background/image-parallax-2.jpg"); /*--Photo by Ivana Cajina on Unsplash--*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*---------------Text---------------*/

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: #3D7AFD;
}

h3, h4, h5, p, li {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

/*-------Styling------*/
.jumbotron {
    padding-top: 5rem;
    margin-top: 2rem;
}

.jumbotron  h1{
    color: #1F0954;
}

.navbar li {
    font-family:'Orbitron', monospace;
}

.apod {
    justify-content: center;
}

#mapid { 
    height: 400px; 
}

.center-form {
    padding-top: 10px;
    margin: 3px auto;
    width: 60%;
    max-width: 80%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}




